.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--white) !important;
    background-color: var(--uva-dark-blue);
    padding: 1rem;
    border: 1px solid black;
    width: 100%;
}

.MuiButton-root {
    color: var(--white) !important;
}
